body {
	background-color: #eee;
	color: #999;
	font: 14px Helvetica, Arial, san-serif;
	text-align: center;
	margin: 0 auto;
}
.bar {
	background-color: #e7e9e8;
	border-radius: 2px;
	box-shadow: 0 1px 1px #ccc;
	margin: 45px auto 20px;
	padding: 14px;
	position: relative;
	text-align: center;
	width: 400px;
}
.btn {
	border: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	font-weight: bold;
	margin-left: 5px;
	padding: 9px;
	text-transform: uppercase;
	width: 95px;
}
#createlist .bar { margin: 45px 0 20px }
#menulist {
	font-weight: bold;
	margin: 45px 0 20px;
	min-height: 200px;
	text-align: left;
	width: 400px;
}
#menulist p {
	background-color: #e7e9e8;
	box-shadow: 0 1px 1px #ccc;
	color: #666;
	padding: 14px;
	width: 202px;
}

/*#p, #angular { 
	display: inline-block; 
	vertical-align: top;
	width: 550px; 
}*/
.green { color: #fff; background-color: #83c24f; }
input, select {
	color: #666;
	font-size: 14px;
	padding: 10px 0;
	text-align: center;
	width: 275px;
}
select { padding: 0; width: 100px;  }

ol{
	color: #38a6fb;
	font-weight: bold;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 0;
	text-align: left;
	width: 385px;
}
ol li {
	background: #fff;
	border: 1px solid #ddd;
	cursor: pointer;
	margin: 10px 0;
	padding: 10px;
}
ol li span {
	color: #999;
	font-weight: normal;
	margin: 10px 0;
	padding: 10px;
}
#createlist, #find {
	display: inline-block; 
	vertical-align: top;
	width: 550px; 
}
form, #find { width: 600px; float: left; }
.random { 
	margin: 0 auto; 
	text-align: center; 
	padding: 10px; 
	background: #ccc; 
	color: #666;
	text-decoration: none;
}