<form action='validate.php' method='POST'>
	<label>Enter your credit card number:</label>
	<input type='text' name='ccNum' >
	<select name='cardType'>
		<option value='1'>Visa</option>
		<option value='2'>Mastercard</option>
		<option value='3'>Discover</option>
	</select>
	<input type='submit' value='Submit' >
</form>
